body {
    margin: 0;
    height: 100vh;
    background-image: url("../img/eugen-esanu-j3IxBQAuQdk-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5 {
    color: #254366;
}

main {
    display: inherit;
    align-items: center;
    flex-direction: column;
}

.board {
    margin: 15px 0 25px;
}

table {
    border-collapse: collapse;

}

td {
    border: 3px solid #254366;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list .title {
    color: #254366;
    font-weight: 600;
}

.hit {
    background-image: url('../img/fire.svg'); 
}


.miss {
    background-image: url('../img/cross.svg'); 
    background-size: 20px;
}

.dead {
    background-image: url('../img/skull.svg'); 
}

a {
    position: relative;
    width: 300px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    letter-spacing: 5px;
    border: 2px solid rgb(37, 67, 102);
    color: #254366;
    font-weight: 600;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
}
a:hover {
    color: aliceblue;
    background-color: #254366c9;
}